/Media
/Releases
/Libraries
/packages
/Docs
/TestResults
/bin

/dotBitNS/bin
/dotBitNS/obj
/dotBitNs Monitor/bin
/dotBitNs Monitor/obj
/dotBitDnsTest/bin
/dotBitDnsTest/obj
/dotBitNsShared/bin
/dotBitNsShared/obj
/DumpInterfaceManagementObjects/bin
/DumpInterfaceManagementObjects/obj
/MeowBitSetup/MeowBitSetup

/.svn
/*.suo
*.csproj.user
/README.txt
